*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}

.app-body{
	max-height: 88vh;
	background-size: cover;
}

.welcome-wrap {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  background-size: cover;
  background-position: top center;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center
}

.greeting .username {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.greeting .date {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}

.current .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	color: inherit; 
  	text-decoration: inherit;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

.paper-wrapper {
	padding: 24px 32px;
	width: 100%;
	height: 275px;
}

.form-wrapper{
	padding: 24px 32px;
	width: 100%;
	height: auto;
}

.personalWrapper{
	display: flex;
	flex-direction: column;
	padding: 16px;
	justify-content: space-between;
	height: 100%;
}

.MuiAvatar-colorDefault {
	background-color: #38d39f !important;
}

.MuiSvgIcon-root:hover {
	color: #38d39f;
	cursor: pointer;
}

.logout .MuiSvgIcon-root:hover {
	color: red;
	cursor: pointer;

}

.change-avatar-btn:hover {
	color: 'grey' !important;
}

.MuiPaper-root .MuiAlert-root .MuiAlert-filledError .MuiPaper-elevation0 {
	top: 30
}

.paper-wrapper li {
	padding: 0
}

.user-detail-wrapper {
	display: flex;
}

.df {
	display: flex;
	align-items: center;
}

.no-class-wrap{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
}

.card {
	width: 450px;
	height: 250px;
	background-color: #fff;
	background: linear-gradient(#f8f8f8, #fff);
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	margin: 1.5rem;
}

.card h1 {
	text-align: center;
}

.card .additional {
	position: absolute;
	width: 150px;
	height: 100%;
	background: linear-gradient(#FC9F5B, #FBD1A2);
	transition: width 0.4s;
	overflow: hidden;
	z-index: 2;
}

.card.green .additional {
	background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
	width: 100%;
	border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
	width: 150px;
	height: 100%;
	position: relative;
	float: left;
}

.card .additional .user-card::after {
	content: "";
	display: block;
	position: absolute;
	top: 10%;
	right: -2px;
	height: 80%;
	border-left: 2px solid rgba(0, 0, 0, 0.025);
	
}

.card .additional .more-info {
	width: 300px;
	float: left;
	position: absolute;
	left: 150px;
	height: 100%;
}

.card .additional .more-info h1 {
	color: #fff;
	margin-bottom: 0;
}

.card.green .additional .more-info h1 {
	color: #224C36;
}

.card .additional .coords {
	margin: 8px 1rem;
	color: #fff;
	font-size: 1rem;
}

.card.green .additional .coords {
	color: #325C46;
}

.card .additional .coords span+span {
	float: right;
}

.card .additional .stats {
	font-size: 2rem;
	display: flex;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	top: auto;
	color: #fff;
}

.card.green .additional .stats {
	color: #325C46;
}

.card .additional .stats>div {
	flex: 1;
	text-align: center;
}

.card .additional .stats i {
	display: block;
}

.card .additional .stats div.title {
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
}

.card .additional .stats div.value {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
	font-size: 2.5rem;
}

.card .general {
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	padding: 1rem;
	padding-top: 0;
}

.card .general .more {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 0.9em;
}

.class-detail-wrapper {
	width: 70%;
	margin: 0 auto;
}

.class-detail-name {
	background: linear-gradient(#FC9F5B, #FBD1A2);
	height: 300px;
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 27px 0px rgba(251,209,162,1);
	-moz-box-shadow: 0px 0px 27px 0px rgba(251,209,162,1);
	box-shadow: 0px 0px 27px 0px rgba(251,209,162,1);
	margin-bottom: 24px;
}

.shadow {
	-webkit-box-shadow: 0px 0px 1px 0px rgba(251,209,162,0.4);
	-moz-box-shadow: 0px 0px 1px 0px rgba(251,209,162,0.4);
	box-shadow: 0px 0px 6px 1px rgba(251,209,162,0.4);
}

.file {
	margin-bottom: 10px
}

.file:hover {
	-webkit-box-shadow: 0px 0px 2px 0px rgba(251,209,162,0.5);
	-moz-box-shadow: 0px 0px 2px 0px rgba(251,209,162,0.5);
	box-shadow: 0px 0px 2px 2px rgba(251,209,162,0.5);
	cursor: pointer;
}

.share-text:hover {
	color: #38d39f;
	cursor: pointer;
}

.comment-bar {
	display: flex;
	border-radius: 44px;
	width: 100%;
	padding: 0 16px;
	justify-content: space-between;
}

.react-swipeable-view-container {
	height: 100%
}

/* .focus {
	box-shadow: 0 3px 4px 0 rgba(0,0, 0, 0.14),
	0 3px 3px -2px rgba(0,0,0,0.12),
	0 1px 8px 0 rgba(0,0,0,0.2);
} */

.tab-panel {
	-webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    box-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    background: #f8f9fa;
    bottom: 0;
    display: flex;
    height: 100%;
    left: 0;
    text-align: left;
    z-index: 2;
}

.chatBar {
	-webkit-box-align: end;
    box-align: end;
    align-items: flex-end;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;
    display: flex;
    min-height: 72px;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #211b19;
}

.meeting -webkit-scrollbar { width: 0 !important }

.tap-panel -webkit-scrollbar { width: 0 !important }

.video-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.my-video {
	width: 240px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	border: 4px solid #bcbcbc;
	border-radius: 6px;
	z-index: 10;
}

.statistic-card{
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding-left: 30px; */
	/* padding-top: 16px; */
	padding-right: 60px;
	height: 120px;
}

.statistic-logo{
	height: 100%;
	width: 30%;
	color: white;
	display:flex;
	justify-content:center;
	align-items:center;
}

.statistic-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50%;
	font-weight: 500;
	font-size: 28px;
	text-align: right;
}

.carousel .carousel-slider  {
	height: 500px !important;
}

.carousel .thumbs-wrapper .axis-vertical .thumbs .animated li img {
	height: 100 !important;
	width: 100 !important;
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
	.class-detail-wrapper {
		width: 80%
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
	.no-class-wrap{
		margin-top: 80px
	}
	.class-detail-wrapper {
		width: 100%;
		margin: 0 auto;
	}
	.class-detail-name {
		height: 180px;
	}
	.notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}